.bike {
    margin: 20px;
    padding: 20px;
    border: 5px solid purple;
    border-radius: 11px;
}

.button {
    border: 2px solid green;
    border-radius: 7px;
    height: 40px;
    width: 130px;
    font-size: larger;
    font-weight: 700;
    padding: 5px;
    margin-right: 15px;
}